
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* banner section Styling */
  .banner {
    background-image: url(./assets/Hero-bg.png);
    text-align: center;
    height: 600px;
   

  }
   .banner-content {
    margin: 20px 221px 50px 221px;
    /* Iadditional styling */
    
    
    
   }
  .heading {
    font-weight: 800;
    font-size: 40px;
  }
  .btn-primary {
    max-width: 208px;
    height: 40px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    color: white;
   
    

  }
  button>a {
    text-decoration: none;
    color: white;
  }

  /* section-2 styling */

  .secondary-div {
    display: flex;
    justify-content: space-between;
    max-width: 946px;
    margin: 52px auto;
    background-color: white;
    border-radius: 5px;
    padding: 48px;
  }
  .section-2-heading {
    font-size: 32px;
    font-weight: bolder;
  }
  .section-2-main-div{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
    height: 1395px;
  }
  .inner-div>h2 {
    font-size: 24px;
    font-weight: bold;
    
    
  }
  .section-2-main-div {
    /* background-color: #C7D0E4; */
    background-color: rgba(13, 19, 33, 0.02);
    
    max-width: 1140px;
    border-radius: 5px;

    
  }
  .btn-secondary {
    max-width: 160px;
    height: 35px;
    background-color: white;
    color: black;
   font-size: 20ppx;
   font-weight: 600;
  }
  .inner-div {
    text-align: left;
    
  }
  .secondary-div-2 {
    display: flex;
    justify-content: left;
    max-width: 946px;
    margin: 52px auto;
    background-color: white;
    border-radius: 5px;
    padding: 48px;

  }
  /* section 3 */
  .sec-3-main-div {
    max-width: 1140px;
    height: 777px;
    text-align: center;
    margin: 0 auto;
  }
.video {
  max-width: 1140px;
  height: 614px;
  border-radius: 16px;
  border: solid 1px #C7D0E4;
  padding: 32px;
  display: flex;
}
/* Experimental */
iframe{
  border-radius: 16px;
  margin: 32px;
}
.sec-3-heading {
  color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
}


/* Card Section */
.card-sec-heading {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
}
.card>h1 {
  font-size: 24px;
  font-weight: 800;
}
.card-container a {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.card-container {
  width: 1140px;
height: 463px;
margin: 20px auto;
display: flex;
justify-content: space-between;
gap: 10px;
}
.card-1{
  width: 364px;
height: 300px;
padding: 40px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}
.card-2{
  width: 364px;
height: 300px;
padding: 40px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
}
.card-3{
  width: 364px;
height: 300px;
padding: 40px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}
.card-section-inner-div{
  text-align: center;
  margin: 150px auto;
}
  

/* Chalenge Part */

.challenge-div{
    /* background-image: url(./assets/handshake.png);  */
    background-size:contain;
    background-repeat: no-repeat;
  width: 1140px;
  height: 314px;
margin: 48px auto;
border-radius: 16px;
background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url(./assets/handshake.png);


display: flex;
justify-content: center;


}
.challenge p{
  color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.challenge h3{
  color: rgb(255, 255, 255);

font-size: 32px;
font-weight: 700;

text-align: center;
margin-top: 0;
}
.challenge-div-child{
 
  /* background-color: aquamarine; */
  width: 1044px;
  height: 186px;
  margin: 62px 48px;
  padding: 0%;
  text-align: center;
  
  
 
}
.form-1{
  height: 58px;
  width: 684px;
  box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-right: 20px;
}
.form-2{
  width: 120px;
height: 58px;
border-radius: 8px;
background: rgb(255, 255, 255);
text-align: center;
color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
.form-div{
  display: flex;
  justify-content:center;
  gap: 15px;
}
/* Footer-section-styling */
.footer{
  width: 1140px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin: 32px auto;
  text-align: center;
  align-items: center;
  
  /* background-color: blueviolet;  */
}
.footer-section{

height: 100px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.03);
margin: 57px auto;
display: flex;
justify-content: center;
}


.footer p{
  color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

}
