
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  /* banner section Styling */
  .banner {
    background-image: url(./assets/Hero-bg.png);
    text-align: center;
    height: 600px;

  }
   .banner-content {
    margin: 20px 221px 50px 221px;
    /* Iadditional styling */
    background-color: blueviolet;
    opacity: 0.5;
    
   }
  .heading {
    font-weight: 800;
    font-size: 40px;
  }
  .btn-primary {
    max-width: 208px;
    height: 40px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    color: white;
   
    

  }
  button>a {
    text-decoration: none;
    color: white;
  }

  /* section-2 styling */

  .secondary-div {
    display: flex;
    justify-content: space-between;
    max-width: 946px;
    margin: 52px auto;
    background-color: white;
    border-radius: 5px;
    padding: 48px;
  }
  .section-2-heading {
    font-size: 32px;
    font-weight: bolder;
  }
  .section-2-main-div{
    max-width: 1140px;
    text-align: center;
    margin: 0 auto;
    height: 1395px;
  }
  .inner-div>h2 {
    font-size: 24px;
    font-weight: bold;
    
    
  }
  .section-2-main-div {
    background-color: #C7D0E4;
    
    max-width: 1140px;
    border-radius: 5px;

    
  }
  .btn-secondary {
    max-width: 160px;
    height: 35px;
    background-color: white;
    color: black;
   font-size: 20ppx;
   font-weight: 600;
  }
  .inner-div {
    text-align: left;
    
  }
  .secondary-div-2 {
    display: flex;
    justify-content: left;
    max-width: 946px;
    margin: 52px auto;
    background-color: white;
    border-radius: 5px;
    padding: 48px;

  }


